{% extends "base.html" %}
{% load widget_tweaks %}  

{% block title %}Panel de {{ colegio.nombre }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
        <div class="card shadow-sm p-4 rounded-3 bg-white">
            <form method="post" enctype="multipart/form-data">
                <h2 class="text-center mb-4">Paso 2: Cargar Datos</h2>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.archivo_csv.id_for_label }}" class="form-label">{{ form.archivo_csv.label }}</label>
                    {{ form.archivo_csv|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Procesar Archivo y Ver Dashboard</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
